/*--------------------------------------------------------------
# Positioning of main page sections
--------------------------------------------------------------*/
// Prevent horizontal scroll with full-width images
#page {
	overflow: hidden;
}

#primary,
aside {

	@include default-grid-container;

	@media (min-width: 1023px) {

		main {
			width: 70%;
			margin: 0 auto;
		}
	}
}

.default-grid-container {
    @include default-grid-container;

	&.narrow {
		max-width: 800px;
	}
}

/*--------------------------------------------------------------
# Page Layouts
--------------------------------------------------------------*/

.thirds {

	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( auto, 370px) );
	justify-content: center;

	.third-box {
		padding-top: 15px;
	}
}


.line-under {
	text-align: center;
	position: relative;
	margin-bottom: 80px;

	&:after {
		content: ' ';
		position: absolute;
		top: 100%;
		left: 50%;
		width: 120px;
		margin-top: 20px;
		border: 1px solid $color__light-background;
		transform: translateX(-50%);
	}
}

/*--------------------------------------------------------------
# Header Layout using Flexbox
--------------------------------------------------------------*/

#masthead {

    .site-branding {
        flex: 1;
        padding-right: 4%;
    }

    .main-navigation {
        align-self: center;
    }

    .inner-container {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1150px) {
            flex-direction: column;
        }

    }

	@media screen and (max-width: 1023px) {
		.site-branding {
			order: 2;
		}
		.site-navigation {
			order: 1;
		}
		.default-grid-container {
			padding: 0;
		}
		.site-branding {
			padding-right: 0;
			margin: 2em 5%;
		}
	}

}

/*--------------------------------------------------------------
# Header Styling: Site Branding
--------------------------------------------------------------*/

.site-branding {
    margin: 1em 0;

	.custom-logo-link {

		line-height: 0;

		img {
			width: 130px;
		}
	}
}

/*--------------------------------------------------------------
# Footer Styling
--------------------------------------------------------------*/

#colophon {
	margin-top: 1em;
	color: #fff;

    a {
	    color: $color__lighter-copy;
	    box-shadow: inset 0 -2px 0 $color__lighter-copy;
	    text-decoration: none;
	    padding-bottom: 2px;

	    &:hover,
	    &:focus,
	    &:active {
		    color: $color__darkest;
		    background-color: $color__light-background;
	    }
    }

    .site-info {
	    background-color: $color__darkest;
        margin-top: 2em;
        padding-bottom: 1.5em;
	    padding-top: 1em;
    }

	.footer-credits {
		text-align: center;
		background-color: $color__background-button-hover;

		p {
			margin: 0;
			@include font-size(.8);
			padding: 1em 0;
		}
	}

	h3 {
		font-family: $font__main;
		text-transform: uppercase;
		@include font-size(1);
		margin-bottom: 1.5rem;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li:after {
			display: block;
			content: "";
			width: 2.6em;
			border-bottom: 1px solid $color__lighter-copy;
			margin: 0.45em 0;
		}

		a {
			color: #fff;
			box-shadow: none;
		}

	}
}

