.cmb-form {
	.cmb2-wrap {

		ul {
			list-style: none;
			padding: 0;
		}

		.cmb2-metabox-description {
			@include font-size(1);
			line-height: 1.5;
		}
	}

	input[type="submit"] {
		border: none;
	}
}

.submission-confirmation {
	background-color: $color__light-background;
	padding: 1em;
}