// Header title background
.single-puppy,
.post-type-archive-puppy,
.tax-status,
.single-member,
.post-type-archive-member,
.error404,
.search {
	.entry-header,
	.page-header {
		background-image: linear-gradient(rgba(62, 62, 62, 0.6), rgba(62, 62, 62, 0.6)), url('images/golden-retriever-eyes.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-color: $color__darkest; /* Fallback so text will show if image doesn't load */
		display: flex;
		flex-direction: column;
		justify-content: center;

		h1,
		.archive-description {
			color: #ffffff;
			text-align: center;
		}

		.archive-description {
			@include font-size(1.2);
		}
	}
}

.post-type-archive-puppy,
.tax-status,
.post-type-archive-member,
.search {
	#primary {

		main {
			width: 100%;
			margin: 50px auto 20px auto;
			display: grid;
			grid-template-columns: repeat( auto-fit, minmax( auto, 350px) );
			grid-gap: 20px;
			justify-content: center;
		}
	}
}

.puppy-archive-block {
	text-align: center;
	margin-bottom: 20px;
	padding: 20px;
	text-decoration: none;
	color: $color__darkest !important;

	img {
		max-width: 100%;
		height: auto;
		border-radius: 100%;
	}

	svg {
		border: 5px solid $color__main-accent;
		max-width: 300px;
		max-height: 300px;
		border-radius: 100%;
		padding: 70px;
		width: 100% !important;
		height: 100%;
		margin-bottom: 6px;
	}

	h2, p {
		margin: 0;
	}

	p {
		color: $color__lighter-copy;
	}
}

.single-puppy {

	.puppy-main-bio {

		img {
			border-radius: 100%;
		}

		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 2em;
		grid-gap: 30px;

		@media (max-width: 800px) {
			display: block;
			text-align: center;
		}

		a {
			color: $color__darkest;
			margin-left: -2px;
			margin-right: -2px;
			padding-left: 2px;
			padding-right: 2px;
			box-shadow: inset 0 -2px 0 #7c8f90;
			text-decoration: none;
			padding-bottom: 2px;

			&:hover,
			&:focus,
			&:active {
				color: $color__darkest;
				background-color: $color__light-background;
			}
		}

		ul.puppy-stats {

			margin: 0;
			list-style: none;
			padding: 0;

			li {
				margin: 0;
				@include font-size(1.1);
				border-bottom: 1px solid $color__lightgray;
				padding: 0.6em 0;
				text-align: left;

				&:last-of-type {
					border-bottom: none;
				}
			}
		}
	}
}

.single-member {

	.entry-content {
		margin-top: 0;
	}

	.member-main-bio {
		text-align: left;
		margin: 2.5em 0 0 0;
		@include font-size(1.1);
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;

		&.no-puppies {
			display: block;
		}

		@media (max-width: 800px) {
			display: block;
			text-align: center;
		}

		.member-left {
			text-align: center;

			p {
				margin-top: 0.2em;
			}

			svg {
				border: 5px solid $color__main-accent;
				max-width: 300px;
				max-height: 300px;
				border-radius: 100%;
				padding: 70px;
				width: 100% !important;
				height: 100%;
				margin-bottom: 6px;
			}
		}

		h2 {
			@include font-size(1.5);
			text-align: center;
			margin: 0 0 0.4em 0;
			padding-bottom: 10px;
		}

		ul.member-puppies {
			margin: 0;
			padding: 0;
			display: grid;
			grid-template-columns: 1fr 1fr;

			li {
				list-style: none;

				a {
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 10px;
					color: $color__darkest;
					text-decoration: none;

					p {
						margin: 0;
					}

					img {
						border-radius: 100%;
						max-width: 120px;
					}
				}
			}
		}
	}
}